# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Commonly used libraries used by Data Scientist
- Evaluate arithematic expression
- Converting minutes to hours
- List popular languages for Data Science

Some of the popular languages that Data Scientists use are:
- Python
- R
- SAS

Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Pandas
- sciket-learn
- NLTK

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Spyder</td>
  </tr>
</table>

###  Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Arithmetic operations
code = compile("3 * 2", "<string>", "eval")
eval(code)

6

In [2]:
(3*4)+5

17

In [3]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#This will convert 200 minutes to hours by diving by 60
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

## Author
Name - Chinmay Aniruddha Pittule